/* HEADER */
.HeaderClass
{
  text-align: center;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  color: wheat;
}
.H1-Head {
  font-size: 48px;
  color: wheat;
  font-style: oblique;
  font-family: "Snell Roundhand, cursive";  
  padding-bottom: 50px;
}
.PDescribe{
  padding-bottom: 10px;
  font-size: 18px;
  color: aqua;
  font-family: "Lucida Console";
}

/* Button Sample Pack Styles */
.Button-SP{
display: inline-block;
padding: 20px 70px;
background-color: wheat;
color: white;
text-align: center;
text-decoration: none;
font-size: 16px;
border-radius: 12px;
transition: background-color 0.3s;

}
.Button-SP:hover {
  background-color: #3d3935;
}


/*  ABOUT ME */
.Me {
  text-align: center;
  width: 100%;
  z-index: 999; 
  position: relative;
  
}

#About-Me{

  text-align: center;
  padding: 20px;
  padding-top: 80px;
  padding-bottom:360px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  color: wheat;
}


/*  NAV */
.Navbar {
  position:absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.Navbutton {
  color: aqua;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  
}
/*  END NAV */



/*  REELS */
#Reelsframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin-bottom: 50px;
}
.Reeldiv {
  margin-bottom: 50px;
}

/*  END REELS */


/* Yt Clips */
.Describe1{
  color: white;
  font-size: 21px;
  margin-top: 10px;
  font-family: "Lucida Console";
}
.Describe2{
  color: aqua;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Lucida Console";
}
.Describe3{
  color: white;
  font-size: 21px;
  margin-top: 10px;
  font-family: "Lucida Console";
}
.Describe4{
  color: aqua;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Lucida Console";
}

.Music-Frames{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 

}
.Music-Div {
  margin-bottom: 50px;
}
/*  END Yt Clips */

/*  Example Scores */
.Scores-Div {
  margin-bottom: 50px;
}
.Music-Scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}
/*  END Example Scores */

/*  AUDIO CONTROLS/SFX */
.Audio-Controls {
  margin-bottom: 50px;
}

.Sfx-Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.Foley-Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.Percs-Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}


/*  END AUDIO CONTROLS/SFX */

/* CONTACT SECTION */
#Contact input[type="text"],
#Contact input[type="email"],
#Contact textarea {
  width: calc(100% - 60px);
  padding: 15px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto 20px;
  max-width: 400px;
}

.labels {
  color: aqua;
}

#Contact button {
  padding: 25px 50px;
  display: block;
  margin: 0 auto;
  font-size: 21px;
}


/* FOOTER */
.footer {
  text-align: center;
  background-color: #3d3935;
  color: aqua;
  padding: 20px 0;
  width: 100%;
}
.footer a {
  color: aqua;
  text-decoration: none;
  margin: 0 10px;
}

.Social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.icons {
  width: 30px;
  height: 30px;
  margin: 20px;
}
/* END OF FOOTER */



/* SCROLL BAR */
::-webkit-scrollbar {
  width: 20px; 
}
::-webkit-scrollbar-track {
  background: #1f1f1f; 
}
::-webkit-scrollbar-thumb {
  background-color: wheat; 
  border-radius: 10px; 
  border: 3px solid #1f1f1f; 
}
/* END OF SCROLL BAR */











